<% @recipes.each do |recipe| %>
  <h2><%= recipe.title %></h2>
  <h4>Ingredients: <%= recipe.ingredients %></h4>
  <h4>Directions: <%= recipe.directions %></h4>
  <h5>Prep Time: <%= recipe.prep_time %></h5>
  <img src="<%= recipe.image_url %>" alt="<%= recipe.title %>"><br>
  <a href="/recipes/<%= recipe.id %>">More Info</a>
<% end %>
