<h1><%= @recipe.title %></h1>
<img src="<%= @recipe.image_url %>" alt="" />
<h4>Ingredients: <%= @recipe.ingredients %></h4>
<h4>Directions: <%= @recipe.directions %></h4>
<h5>Prep Time: <%= @recipe.prep_time %></h5>
<h5>Chef: <%= @recipe.user.name %></h5>